@media screen and (min-width:1280px) {
#wraper{
width:1280px;
	
	margin-left:auto;
	margin-right:auto;
	background:white;
	box-shadow:10px silver;
	text-align:top;
}


}
@media screen and (min-width:480px) and (max-width:959px) {
	#wraper nav {
width:400px;
display:none;
	margin-left:auto;
	margin-right:auto;
	}
}
@media screen and (min-width:480px) and (max-width:959px){
	#m-btn{
		display:block;
		
	}
}
	
@media screen and (min-width:480px) and (max-width:959px){
	#main-slider{
		display:none;
		
	}
}
@media screen and (min-width:480px) and (max-width:959px){
	aside{
		display:none;
		
	}
}




@media screen and (max-width:479px) {
	#wraper {
		
		margin-left:auto;
	margin-right:auto;
width:200px;
	
	}
}
	@media screen and (max-width:400px) {
	#wraper {
		margin-left:auto;
	margin-right:auto;
     width:100px;
	}
}
header{
	
	height: 150px;
	border-radius: 10px 10px 10px;
	line-height: 18.5667px;
	margin-bottom: 8px;
	background-image: url(../image/s.jpg);
}


header #logo{
	
	
	padding:0px 50px;

	
	
	
}

nav{
	
	
	height: 45px;
	background-image: url(../image/plava-pozadina-izrada-sajta.jpg);
	top: 150px;
}

.forma{
		
		margin:auto;
		
		padding-bottom: 60px;
		padding-left: 50px;
		padding-right:50px;
	
		
	
		
		
		
		
		
}
.mm{
	padding-left:30px;
	margin:auto;
	padding:50px;
}
	

.mobile-bar ul{
		display:none;
	}
	@media screen and (min-width:480px)and (max-width:959px){
 .mobile-bar ul {
		display:block;
		position:absolute;
		top:142px;
		left:0;
		background:rgba(216,240,247,1.00);
		width:50%;
		height:80%;
		transform:translateX(-500px);
		transition:transform 0.9s ease-in-out;
		opacity:0.7;
		
	}
	.mobile-bar ul.show{
		transform:translateX(-20px);
	}
	
	.mobile-bar li {
		margin-top:50px;
		list-style:none;
		padding:10px;
		border-bottom:1px solid #ccc;
	}
	.mobile-bar li:last-child{
		border-bottom:0;
		
	}
	.mobile-bar a{
		text-decoration:none;
		background-color:rgba(26,26,26,0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
	
	
		
		
	}
} 
	




#menu-bar ul{
	list-style-type: none;
	margin-right: auto;
	margin-left: 200px;
	padding: 0px;
	overflow: visible;
	display: hidden;	
}

#menu-bar li{
	float:left;
	
	padding:0 20px;
	list-style:none;
	
	
}

#menu-bar li a{
	background-color:rgba(26,26,26,0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#menu-bar li a:hover{
	
	background:#63370b;
	
}
	
#menu-bar li a:visited{
	color:fb7c00;
	text-decoration:none;
	}
		
	
	#menu-bar a:link{
		color:fb7c07;
		text-decoration:none;
		}
		
		
.menu-btn{
	margin-top:100px;
	color:white;
		cursor:pointer;
		position:absolute;
		top:20px;
		right:20px;
		z-index:2;
		display:none;
	
		
	}
	.menu-btn:hover{
		opacity:0.5;
	}

	.main-nav ul{
		display:block;
		position:absolute;
		top:0;
		left:0;
		background:#f2f2f2;
		width:50%;
	}
	
	#kontakt-aside{
		position:relative;
		
		
	}
	aside{
		position:absolute;

		right:20px;
	margin-top: 25px;
	border-radius: 0 35px 0 0;
	box-shadow: 20px 30px 50px 0px #63370b;
	background-image: -webkit-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: -moz-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: -o-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: linear-gradient(186deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	margin-left: 10px;
	margin-bottom: 10px;
	}
	#txt{
		width:200px;
		padding:10px;

		
	}
	
	
	
	footer{
	margin: auto;
	background-color: rgb(12, 45, 71);
	width: auto;
	height: 200px;
	position: relative;
	padding-top: 25px;
	margin-top: 25px;
	clear: both;
	background-image: -webkit-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: -moz-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: -o-linear-gradient(264deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
	background-image: linear-gradient(186deg,rgba(167,178,228,1.00) 13.99%,rgba(0,76,255,1.00) 100%);
		
		
		
		
		
		
		
		
		
	}
	
	footer p{
		color:white;
		margin-left:auto;
		margin-right: auto;
		text-decoration:none;
		text-align:center;
		padding:10px 0 0 0;
		
	}
	footer address{
		
		color:yellow;
		
		margin-left:auto;
		margin-right: auto;
		text-decoration:none;
		text-align:center;
		padding:10px 0 0 0;
		margin-bottom:0px;
	}
		
	
	.x{
		padding-left:50px;
		margin:100px;
		background:yellow;
		align:center;
	}
	.tabela1{
		
		
		padding:50px;
		margin:auto;
		border-radius: 0 50px 0 25px;
		opacity:50%;
	}
	#nacionalnost{
		
		position:relative;
		padding-left:240px;
		float:none;
		overflow:hidden;
		
		
		
		margin-left:60px;
	}
	
	.box {
		border:1px dotted black;
		background:yellow;
	}
	
	.boja{
		border:1px dotted black;
		background:yellow;
	}
	
	
		
	
	
	fieldset{
		
		margin:10px;
		border:1px dotted black;
		border-radius:1px 100px 1px 1px;
		
		
	}
	
	.tekst{
	margin-left:10px;
	}
	.h2{
		margin-left:30px;
		
	
	text-align: center;
	margin-top: 55px;
	
	margin-bottom: 55px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: large;
	text-transform: capitalize;
	}
	i#fa-clock{
		position:absolute;
		top:1px;
		right:290px;
	}
i#fa-calendar{
	
position:absolute;
		top:20px;
		right:290px;
}
.calendar-polje{
	position:absolute;
	right:0px;
}
.date{
	position:absolute;
	top:20px;
	right:40px;
	color: white;
	float: right;
	font-family: inherit;
	border-color: rgba(237,0,3,1.00);
	border-width: 1px;
	font-variant: normal;
	font-weight: bold;
	font-size: large;
}

	
	.slider {
	
}

.slider-wrapper {
	
	height: 100px;
	

}

.slide {
	position: absolute;
	min-width:100px;
	width: 987px;
	height: 350px;
	transition: opacity 0.1s linear;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: larger;
	margin-right: auto;
	left: 0px;
		
}

.slider-wrapper > .slide:first-child {
	opacity: 50%;
}


.g{
	color:white;
   position:absolute;
   top:400px;
   left:80px;
 
}
.g:hover{
	background:yellow;
	border:solid;
	
}




.dropbtn {
    background-color:rgba(26,26,26,0.8);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 5px;	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#63370b;}
h1{
	text-align: center;
	margin-right: 500px;
	margin-left: 280px;
	box-shadow: 2px 3px rgba(95,208,232,1.00);
	border-bottom-left-radius: 25px;
	padding-top: 50px;
	z-index: 0;
	-webkit-box-shadow: 2px 3px rgba(95,208,232,1.00);
}

.h2{
	margin-top: 450px;
	text-align: center;
	
}
.galerija{
background-image:url(image/makijato.jpg);
}
#main-slider{
	position:relative;
}

#main-slider .slider-wraper .slide {
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	top: auto;
	color: rgba(192,157,158,1.00);
}
#wraper .h2 .napitak2 {
	
	margin-bottom: 8px;
		padding: 0px ;
	margin-left: 2px;
	margin-right: 8px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;	
	letter-spacing: 0px;	
	float: left;	
	border: 1px solid rgba(164,162,162,1.00);
	background-color:rgba(216,240,247,1.00);
	border-collapse: collapse;
}
#wraper .h2 .napitak1 {
	
	padding: 0px ;
	margin-left: 2px;
	margin-right: 8px;
	margin-bottom: 8px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;	
	letter-spacing: 0px;	
	float: left;	
	border: 1px solid rgba(164,162,162,1.00);
	background-color:rgba(216,240,247,1.00);
	border-collapse: collapse;
}

#wraper .h2 .napitak3 {
	
	margin-bottom: 8px;
		padding: 0px ;
	margin-left: 2px;
	margin-right: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;	
	letter-spacing: 0px;	
	float:left;
	border: 1px solid rgba(164,162,162,1.00);
	background-color:rgba(216,240,247,1.00);
	border-collapse: collapse;
}
#wraper .h2 .napitak4 {
	margin-bottom: 8px;
		padding: 0px ;
	margin-left: 2px;
	margin-right: 8px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;	
	letter-spacing: 0px;	
	float: left;	
	border: 1px solid rgba(164,162,162,1.00);
	background-color:rgba(216,240,247,1.00);
	border-collapse: collapse;

}
#wraper .h2 .napitak5 {
	margin-right:10px;
	margin-bottom: 8px;
	padding: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;
	letter-spacing: 0px;
	float:left;
	border: 1px solid rgba(164,162,162,1.00);
	background-color: rgba(216,240,247,1.00);

	
}
#wraper .h2 .napitak6 {

	margin-bottom: 8px;
		padding: 0px ;
	margin-left: 2px;
	margin-right: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: justify;
	text-transform: lowercase;
	font-size: large;	
	letter-spacing: 0px;	
	float:left;
	border: 1px solid rgba(164,162,162,1.00);
	background-color:rgba(216,240,247,1.00);
	border-collapse: collapse;
	
}
#contact label.lbl{
	/*float: left;
	display: block;
	width: 240px;
	border-bottom: 1px dashed #ccc;*/
	background:rgba(75,218,236,0.08);
display: block;
	padding: 10px;
	width: 100%;
}
#contact .txt-i{
	border: solid 1 px #ccc;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 15px;
	background: #fff;
	width: 400px;
	
}
#contact input.txt-i{
	height: 20px;
}
#contact textarea.txt-i{
	height: 120px;
	
}
#contact input.btn{
	padding: 4px 12px;
	margin: 4px 0;
	background: #c00;
	border: 1px solid #540101;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	
}
#contact input.btn:hover {
	background: #F30;
}
.contact-left{
	width: 400px;
	margin:50px auto;
	float: left;
	
	
}
.contact-full{
	
	clear: both;
}





#wraper section h1 {
	margin-top: 0px;
}

.tekst{
	width: 360px;
	text-transform:lowercase;
}
h3{
	text-transform: uppercase;


}
#wraper section .txt-a {
	display: block;
}

#wraper section #seikb {
	float: left;
	padding: 10px;
	right: 20px;
	background-color: rgba(255,255,255,1.00);
}
#wraper .kontakt1 {
	color: rgba(255,255,255,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;

}
#wraper section p {
	margin-right: 10px;
	padding-right: 10px;
}
#wraper {
}
#wraper .napitak {
	
	position: relative;
	top: 450px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 35px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:140px;
	margin-top: 0px;
	background-color: rgba(119,229,243,0.4);
	
}
.text{
	width:80%;
	text-align: justify;
	font-family: sans-serif;

}
.text-100{
	width:100%;
}
